<!-- Hero Section-->
<header class="hero" id="dashboardHero">
    <div class="container">
        <div class="hero-heading text-uppercase" id="dashHero">Your Dashboard</div>
    </div>
</header>
<!-- Services-->
<section class="page-section" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Welcome to LiveFit!</h2>
            <div class="dashboard-caption-subheading text-muted">Hi <strong>{{form.firstName}}
                    {{form.lastName}}</strong>,</div>
            <div class="dashboard-caption-subheading text-muted">We're so happy you joined our family, and wanted to
                take a moment to say hello.</div>
            <div class="dashboard-caption-subheading text-muted">Let's be fit together!</div>
            <div class="dashboard-caption-subheading text-muted">Have a great day!</div>
            <div class="dashboard-caption-subheading text-muted">Sincerely,</div>
            <h4 class="section-heading">LiveFit</h3>
        </div>

    </div>
</section>