<!-- Hero Section-->
<header class="hero" id="userDashHero">
    <div class="container">
        <div class="hero-heading text-uppercase" id="dashHero">Hi, {{user.fname}} {{user.lname}}</div>
    </div>
</header>
<!-- Services-->
<section class="page-section" id="services">
    <div class="container">
        <div class="text-center">
            {{#if user.newUser}}
            <h2 class="section-heading text-uppercase">Welcome to LiveFood!</h2>
            <div class="dashboard-caption-subheading text-muted">We're so happy you joined our family, and wanted to
                take a moment to say hello.</div>
            <div class="dashboard-caption-subheading text-muted">Let's be fit together!</div>
            <div class="dashboard-caption-subheading text-muted">Have a great day!</div>
            <div class="dashboard-caption-subheading text-muted">Sincerely,</div>
            <h4 class="section-heading">LiveFood</h3>
                {{else}}
                {{#if shipping}}
                <h2 class="section-heading text-uppercase">Thank you for your order!</h2>
                <div class="dashboard-caption-subheading text-muted">Now is time to be fit! Enjoy your meals!
                </div>
                <div class="dashboard-caption-subheading text-muted">Check some of our meal packages, and let's be fit!
                </div>
                <a class="btn btn-primary text-uppercase js-scroll-trigger" href="/packages">view packages</a>
                {{else}}
                <h2 class="section-heading text-uppercase">Welcome back to LiveFood!</h2>
                <div class="dashboard-caption-subheading text-muted">Check some of our meal packages, and let's be fit!
                </div>
                <a class="btn btn-primary text-uppercase js-scroll-trigger" href="/packages">view packages</a>
                {{#if user.cart.items}}
                <a class="btn btn-primary text-uppercase js-scroll-trigger" href="/cart"><i
                        class="fa fa-shopping-cart mr-1"></i>my cart</a>
                {{/if}}
                {{/if}}
                {{/if}}
        </div>
    </div>
</section>