.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0.5rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  line-height: 1.2;
}

/* Home View */
/* Hero Section */
header.hero {
  padding-top: 10.5rem;
  padding-bottom: 6rem;
  text-align: center;
  color: #fff;
  background-image: url("/img/home_bg.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}
header.hero .hero-subheading {
  font-size: 1.4rem;
  font-style: italic;
  line-height: 1.5rem;
  margin-bottom: 25px;
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
header.hero .hero-heading {
  font-size: 4rem;
  font-weight: 700;
  line-height: 3.25rem;
  margin-bottom: 2rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.btn-primary {
  color: #fff;
  background-color: #c60063;
  border-color: #c60063;
}
.btn-primary:hover {
  color: #fff;
  background-color: #c60063;
  border-color: #c60063;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #c60063;
  border-color: #c60063;
  box-shadow: 0 0 0 0.2rem rgba(198, 0, 99, 1);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #fff;
  background-color: #c60063;
  border-color: #c60063;
}
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #c60063;
  border-color: #c60063;
}
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(198, 0, 99, 1);
}

.btn-xl {
  padding: 1.25rem 2.5rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.125rem;
  font-weight: 700;
}

/* Content Section */
.page-section {
  padding: 6rem 0;
}
.page-section h2.section-heading {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
}
.page-section h3.section-subheading {
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin-bottom: 4rem;
}
.text-primary {
  color: #c60063 !important;
}
.row {
  margin-top: 4%;
}
.services-options {
  margin-bottom: 3rem;
  text-align: center;
}
.services-options img {
  width: 14rem;
  height: 14rem;
  border: 0.5rem solid rgba(0, 0, 0, 0.1);
}
.services-options h4 {
  margin-top: 1.5rem;
  margin-bottom: 0;
}

/* Meals Section */
#meals .meals-item {
  max-width: 25rem;
  margin-left: auto;
  margin-right: auto;
}
#meals .meals-item .meals-link {
  position: relative;
  display: block;
  margin: 0 auto;
}
#meals .meals-item .meals-link .meals-hover {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(198, 0, 99, 0.5);
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity ease-in-out 0.25s;
}
#meals .meals-item .meals-link .meals-hover .meals-hover-content {
  font-size: 1.25rem;
  color: white;
}
#meals .meals-item .meals-link:hover .meals-hover {
  opacity: 1;
}
#meals .meals-item .meals-caption {
  padding: 1.5rem;
  text-align: center;
  background-color: #fff;
}
#meals .meals-item .meals-caption .meals-caption-heading {
  font-size: 1.5rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  margin-bottom: 0;
}
#meals .meals-item .meals-caption .meals-caption-subheading {
  font-size: 1.2rem;
}
.meals-modal .modal-dialog {
  margin: 1rem;
  max-width: 100vw;
}
.meals-modal .modal-content {
  padding-top: 6rem;
  padding-bottom: 6rem;
  text-align: center;
}
.meals-modal .modal-content h2 {
  font-size: 3rem;
  line-height: 3rem;
}
.meals-modal .modal-content p.item-intro {
  font-style: italic;
  margin-bottom: 2rem;
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.meals-modal .modal-content p {
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-size: 1.6rem;
}
.meals-modal .modal-content ul.list-inline {
  margin-bottom: 2rem;
}
.meals-modal .modal-content img {
  margin-bottom: 2rem;
}
.meals-modal .close-modal {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  background-color: transparent;
}
.meals-modal .close-modal:hover {
  opacity: 0.3;
}

/* Footer */
.footer {
  text-align: center;
}
.footer div {
  color: rgba(0, 0, 0, 0.5);
}
.footer a {
  color: rgba(0, 0, 0, 0.5);
}
.footer a:hover {
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
}
.footer a:focus,
.footer a.focus {
  color: rgba(0, 0, 0, 0.7);
}
.footer a.disabled,
.footer a:disabled {
  color: rgba(0, 0, 0, 0.7);
}
.footer a:not(:disabled):not(.disabled):active,
.footer a:not(:disabled):not(.disabled).active,
.show > .footer a.dropdown-toggle {
  color: rgba(0, 0, 0, 0.7);
}
.footer a:not(:disabled):not(.disabled):active:focus,
.footer a:not(:disabled):not(.disabled).active:focus,
.show > .footer a:focus {
  color: rgba(0, 0, 0, 0.7);
}
.footer .btn {
  align-items: center;
  font-size: 1.45rem;
}
.social_media {
  padding-left: 5%;
}

/* Packages View */
#packageHero {
  background-image: url("/img/packages_bg.jpg");
}
#packHero {
  margin-bottom: 0;
}
#package .package-item {
  max-width: 25rem;
  margin-left: auto;
  margin-right: auto;
}
#package .package-item .package-link {
  position: relative;
  display: block;
  margin: 0 auto;
}
#package .package-item .package-link .package-hover {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(198, 0, 99, 0.5);
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity ease-in-out 0.25s;
}
#package .package-item .package-link .package-hover .package-hover-content {
  font-size: 1.25rem;
  color: white;
}
#package .package-item .package-link:hover .package-hover {
  opacity: 1;
}
#package .package-item .package-caption {
  padding: 1.5rem;
  text-align: center;
  background-color: #fff;
}
#package .package-item .package-caption .package-caption-heading {
  font-size: 1.5rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  margin-bottom: 0;
}
#package .package-item .package-caption .package-caption-subheading {
  font-size: 1.3rem;
}
.package-modal .modal-dialog {
  margin: 1rem;
  max-width: 100vw;
}
.package-modal .modal-content {
  padding-top: 6rem;
  padding-bottom: 6rem;
  text-align: center;
}
.package-modal .modal-content h2 {
  font-size: 3rem;
  line-height: 3rem;
  margin-bottom: 25px;
}
.package-modal .modal-content p.item-intro {
  font-style: italic;
  margin-bottom: 2rem;
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.package-modal .modal-content p {
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-size: 1.1rem;
}
.package-modal .modal-content ul.list-inline {
  margin-bottom: 2rem;
}
.package-modal .modal-content img {
  margin-bottom: 2rem;
}
.package-modal .close-modal {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  background-color: transparent;
}
.package-modal .close-modal:hover {
  opacity: 0.3;
}

/* Login View */
.bg-image {
  background-size: cover;
  background-position: center;
}
#login_bgimage {
  background-image: url("/img/login_bg.jpg");
}
.sign_form,
.image {
  min-height: 61vh;
}
.sign_form-item {
  margin-bottom: 1rem;
  text-align: center;
}
.sign_form-item .btn-social {
  height: 2.5rem;
  width: 2.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 100%;
}
.sign_form-item .btn-social:hover {
  color: #fff;
  background-color: #c60063;
  border-color: #c60063;
}

/* Register View */
#register_bgimage {
  background-image: url("/img/register_bg.jpg");
}
.form-control:focus {
  border-color: #ff85c2;
  box-shadow: 0 0 0 0.2rem rgba(199, 0, 99, 0.5);
}

/* Dashboard View */
#userDashHero {
  background-image: url("/img/dashboard_user_bg.jpg");
}
#clerkDashHero {
  background-image: url("/img/dashboard_clerk_bg.jpg");
}
#dashHero {
  margin-bottom: 0;
}
.dashboard-caption-subheading {
  font-size: 1.3rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 500;
  margin-bottom: 15px;
}

#dash_pack_btn {
  align-items: center;
  justify-content: center;
}

/* 404 View  */
#error404 {
  position: relative;
  height: 100vh;
}

#error404 .error404 {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.error404 {
  max-width: 520px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
}

.error404 .error-404 {
  position: relative;
  height: 240px;
}

.error404 .error-404 h1 {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 252px;
  font-weight: 900;
  margin: 0px;
  color: #262626;
  text-transform: uppercase;
  letter-spacing: -40px;
  margin-left: -20px;
}

.error404 .error-404 h1 > span {
  text-shadow: -8px 0px 0px #fff;
}

.error404 .error-404 h3 {
  font-family: "Cabin", sans-serif;
  position: relative;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #262626;
  margin: 0px;
  letter-spacing: 3px;
  padding-left: 6px;
}

.error404 h2 {
  font-family: "Cabin", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000;
  margin-top: 0px;
  margin-bottom: 25px;
}

#btn-404 {
  color: #fff;
  background-color: #000;
  border-color: #000;
}

#btn-404:focus,
#btn-404.focus {
  color: #fff;
  background-color: #000;
  border-color: #000;
  box-shadow: 0 0 0 0.2rem rgba(23, 23, 23, 0.82);
}

/* Cart View */
#userCartHero {
  background-image: url("/img/cart_bg.jpg");
}
#cartHero {
  margin-bottom: 0;
}

#cartQty {
  text-align: center;
  width: 40px;
  height: 36px !important;
  line-height: 0;
  border-radius: 0;
}

#cart {
  text-align: center;
  padding: 5px;
  margin: 2%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.updater {
  width: 36px;
  height: 36px !important;
}

.contactInfo {
  padding-bottom: 0.5rem !important;
}

.contactInfo p {
  margin-bottom: 0 !important;
}

.shipping{
  padding-top: 0.5rem !important;
}

.form-label-group input {
  margin-bottom: 0.5rem;
}

.cpcode {
  width: 30%;
}

.block {
  display: flex;
  justify-content: space-between;
}

.shipform {
  padding-top: 0.1rem !important;
  padding-bottom: 0.1rem !important;
}

@media only screen and (max-width: 767px) {
  .error404 .error-404 {
    height: 200px;
  }
  .error404 .error-404 h1 {
    font-size: 200px;
  }
}

@media only screen and (max-width: 480px) {
  .error404 .error-404 {
    height: 162px;
  }
  .error404 .error-404 h1 {
    font-size: 162px;
    height: 150px;
    line-height: 162px;
  }
  .error404 h2 {
    font-size: 16px;
  }
}
